@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shine {
  0% {
    box-shadow: 0 0 5px rgba(99, 102, 241, 0.5),
                0 0 10px rgba(99, 102, 241, 0.5),
                0 0 15px rgba(99, 102, 241, 0.5);
  }
  50% {
    box-shadow: 0 0 10px rgba(99, 102, 241, 0.8),
                0 0 20px rgba(99, 102, 241, 0.8),
                0 0 30px rgba(99, 102, 241, 0.8);
  }
  100% {
    box-shadow: 0 0 5px rgba(99, 102, 241, 0.5),
                0 0 10px rgba(99, 102, 241, 0.5),
                0 0 15px rgba(99, 102, 241, 0.5);
  }
}

.animate-shine-border {
  animation: shine 2s infinite;
}